.quiz {
    max-width: max-content;
    margin: auto;
}

body {
    color: rgb(10, 110, 104);
}

#start-btn {
    font-size: 30px;
    background-color: rgb(10, 110, 104);
     border-color: white;
     color: white;
     bottom: 20%;
}