.quiz {
    max-width: max-content;
    margin: auto;
}

body {
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', sans-serif;
    background: linear-gradient(100deg, #4d0be7 30%, #0832ec 80%);
}

#start-btn {
    font-size: 23px;
    background-color: rgb(209, 223, 223);
     border-color: white;
     color: white;
     bottom: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.hide {
    display: none;
    visibility: hidden;
    
  }

